<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form method="post" action="/new">
        <label>
            Name: 
            <input type="text" placeholder="John Doe" name="name">
        </label>
        <label>
            Message: 
            <textarea name="message"></textarea>
        </label>
        <button type="submit" class="btn">Add message</button>
    </form>
</body>
</html>